.contain-input {

  background-color: white;
  width: 77%;
  height: 40px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 30px #c2d1fd85;

  &:before {
    content: '';
    margin-left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #3d52ff;
  }

  input {
    height: 30px;
    width: 70%;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    border:0;
    outline: none;

  }

  button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 5px;
    border-radius: 5px;
    outline: none;
    border: 0;
    color: #f7fafe;
    cursor: pointer;
    font-size: 0.6rem;
    background-color: #3d52ff;
    transition: background-color 330ms ease;

    &:hover {
      background-color: #7280fd;

    }
  }

  @media screen and(min-width:1050px) {
    width: 47%;
    height: 60px;


    input {
      height: 50px;
      font-size: 1.2rem;
    }

    button {
      padding: 0.8rem 2rem 0.8rem 2rem;
      font-size: 1rem;
      margin-right: 25px;
    }
  }
}